@import url(http://fonts.googleapis.com/css?family=Lato:400,400italic);
/* Whole document */
body {
	font-family: "freefont", Helvetica, Arial, sans-serif;
	width: 800px;
	margin: auto;
	text-align: justify;
	background: #FFFFFF;
	padding: 3% 3% 3% 3%;
}

/* Sets a fixed size of 800px on wider screens and 95% on narrower ones */
@media only screen and (max-width: 800px) {
	body {
		width: 95%;
	}
}

/* Title of the resume */
h1 {
	font-size: 30px;
	color: #333333;
	text-align:right;
	padding: 20%
	margin-bottom:2%;
}

/* Titles of categories */
h2 {
	color: #105b5f;
}
/* There is a bar just before each category */
h2:before {
	content: "";
	display: inline-block;
	margin-right:1%;
	width: 16%;
	height: 10px;
	background-color: #105b5f;
}
h2:hover {
	background-color: #105b5f;
	color: #FFFFFF;
	text-shadow: 1px 1px 1px #333;
}

/* Definitions */
dt {
	float: left;
	clear: left;
	width: 17%;
}
dd {
	margin-left: 17%;
	margin-bottom:1%;
}
p {
	margin-top:0;
	margin-bottom:1%;
}

/* Blockquotes */
blockquote {
	text-align: center
}

/* Links */
a {
	text-decoration: none;
	color: #105b5f;
}
a:hover, a:active {
	color: #ED6C15;
	text-decoration: underline;
}

/* Horizontal separators */
hr {
	color: #A6A6A6;
}

img {
	float: left;
	padding:1%;
}

em {
	font-weight: bold;

}

table {
	width:100%;
}
